/* Colors */
:root{
    --mainColorGamecube: #4b2974;
    --mainColorController: #bb0000;
    --saveColorGamecube: darkgreen;
    --deleteColorGamecube: darkred;
    --addColorGamecube: yellow;
    --textColor: black;
}

/* Body */
.body {
    background-attachment: fixed;
    background-position: center+260px;
    background-repeat: no-repeat;
    max-width: 1250px;
    margin: auto;
}

/*Background Images*/
.theme-gamecube.body {
    background-image: url("../images/gamecube.jpg");
    background-size: 50%;
}
.theme-controller.body {
    background-image: url("../images/controller.png");
    background-size: 30%;
}

/* Themes*/
.theme-gamecube {
    color: var(--textColor);
    border-radius: 4px;
}
.theme-controller {
    color: var(--textColor);
}

/* Header */
.header {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 120px;
    margin-bottom: 15px;
}
.theme-gamecube.header {
    background-color: var(--mainColorGamecube);
    font-family: Sawasdee;
}
.theme-controller.header {
    background-color: var(--mainColorController);
    font-family: helvetica;
}

.sessionError {
    background-color: darkred;
    -webkit-animation-name: blink;
    color: white;
    font-size: 50px;
    text-align: center;
    border: dashed yellow;
}

/* Search & Style Label */
label {
    padding: 10px 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
label:hover {
    background-color: var(--mainColorGamecube);
    transition-duration: 0.4s;
    color: white;
}
label.theme-gamecube {
    border: var(--mainColorGamecube) solid 2px;
}
label.theme-controller {
    border: var(--mainColorController) solid 2px;
}
label.theme-controller:hover {
    background-color: var(--mainColorController);
}
.theme-gamecube.style {
    border-color: var(--mainColorController);
}
.theme-controller.style {
    border-color: var(--mainColorGamecube);
}
.theme-gamecube.style:hover {
    background-color: var(--mainColorController);
}
.theme-controller.style:hover {
    background-color: var(--mainColorGamecube);
}

/* Search Menu */
#expand {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    color: #FFF;
}
#toggle:checked ~ #expand {
    height: 90px;
    margin-top: 25px;
}
.hidecheckbox {
    display: none;
}

/* Table Headlines */
.headlines {
    font-size: 30px;
    font-weight: bolder;
    float: left;
    font-family: Sawasdee;
    margin-right: 5px;
}
.theme-gamecube.headlines:first-letter {
    color: var(--mainColorGamecube);
}
.theme-controller.headlines:first-letter {
    color: var(--mainColorController);
}

/* Tables */
input, select, button.save, button.delete {
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    margin-bottom: 4px;
}
input.theme-gamecube, select.theme-gamecube {
    border: 2px solid var(--mainColorGamecube);
}
input.theme-controller, select.theme-controller{
    border: 2px solid var(--mainColorController);
}
.showGame {
    width: 295px;
}
.showDevelopers {
    width: 200px;
}
.showDevice {
    width: 150px;
}
.showCompany {
    width: 150px;
}
.showMedium {
    width: 125px;
}

/* Buttons */
button {
    border-style: solid;
    background-color: #FFFFFF;
    height: 30px;
    width: 148px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
button.add {
    width: 300px;
}
button:hover {
    color: white;
    transition-duration: 0.4s;
}
button.theme-gamecube.add {
    border-color: var(--addColorGamecube);
}
button.theme-controller.add {
    border-color: var(--mainColorController);
}
button.theme-gamecube.add:hover {
    color: var(--textColor);
    background-color: var(--addColorGamecube);
}
button.theme-controller.add:hover {
    background-color: var(--mainColorController);
}
button.theme-gamecube.save {
    border-color: var(--saveColorGamecube);
}
button.theme-gamecube.save:hover {
    background-color: var(--saveColorGamecube);
}
button.theme-gamecube.delete {
    border-color: var(--deleteColorGamecube);
}
button.theme-gamecube.delete:hover {
    background-color: var(--deleteColorGamecube);
}
button.theme-controller.save {
    border-color: var(--mainColorController);
}
button.theme-controller.save:hover {
    background-color: var(--mainColorController);
}
button.theme-controller.delete {
    border-color: var(--mainColorController);
}
button.theme-controller.delete:hover {
    background-color: var(--mainColorController);
}

/* No Data */
.nodata {
    color: white;
    font-size: 50px;
    border-style: double;
    text-align: center;
}
.theme-gamecube.nodata {
    background-color: var(--mainColorGamecube);
}
.theme-controller.nodata {
    background-color: var(--mainColorController);
}
